.createShopFormWrap {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position:absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 999;
  transition: transform .2s ease-in-out;
}

.createShopFormWrap form {
  display: flex;
  flex-direction: column;
}