.homePageWrap {
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/homepage_background.png");
  background-size: cover;
  background-position: center;
}

.whitePinLogotype {
  display: block;
  width: 15vw;
  margin: 0 auto;
  padding: 7vh 0 0 0;
}

.fullLogotype {
  display: block;
  width: 60vw;
  margin: 0 auto;
  padding: 1vh 0 0 0;
}

.homePageH1 {
  color: white;
  text-align: center;
  margin: 5vh auto;
  font-weight: 300;
  font-size: 5vw;
}

.mapLink {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  width: 40vw;
  height: 6vh;
}

.goToMapBtn {
  background: none;
  border: none;
  background-color: white;
  width: 40vw;
  height: 6vh;
  border-radius: 15px;
  color: var(--purple);
  font-size: 6vw;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgb(20, 0, 90);
}

.loginSection {
  width: 100vw; 

}
.homePageH2 {
text-align: center;
color: var(--purple);
font-weight: 400;
margin-top: 30vh;
font-size: 2vh;
}

.loginBtn {
  display:block;
  margin: 3vh auto 2vh auto;
  background: none;
  background-color: white;
  border: solid 4px var(--purple);
  width: 35vw;
  height: 5vh;
  border-radius: 15px;
  color: var(--purple);
  font-size: 5vw;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgb(143, 143, 143);
}

.registerBtn {
  display:block;
  margin: 0 auto;
  background: none;
  border: none;
  background-color: var(--purple);
  width: 35vw;
  height: 5vh;
  border-radius: 15px;
  color: white;
  font-size: 5vw;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgb(20, 0, 90);
}