.shopKeeperProfileWrap {
 background-image: url("../assets/profile_background.png");
 background-position: center;
 background-size: cover;
 width: 100vw;
 height: 100vh;
 overflow-y:hidden;
}

.profileGreeting {
  text-align: center;
  color: white;
  font-size: 3vh;
  font-weight: 700;
  margin-top: 2.2vh;
}

.shopsListTitle {
  text-align: center;
  color: var(--purple);
  font-size: 2.5vh;
  font-weight: 900;
  margin-top: 27vh;
  margin-bottom: 2vh;
}

.shopsWrap {
  height: 32%;
  overflow-y: scroll;
}

.placeShopH3 {
  text-align: center;
  color: var(--purple);
  font-size: 1.7vh;
  font-weight: 400;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.newShopFormBtn {
  display:block;
  margin: 0 auto;
  background-color: white;
  border: solid 4px var(--purple);
  width: 55vw;
  height: 5vh;
  border-radius: 15px;
  color: var(--purple);
  font-size: 5vw;
  font-weight: 700;
  cursor: pointer;
}

.logoutBtn {
  position: absolute;
  top: 2vh;
  right: 2vh;
  width: 7vw;
  height: 7vw;
  border: none;
  background-color: none;
  background: transparent;
  cursor: pointer;
}

.logoutBtn img {
  width: 100%;
}

.profLocalyFormIcon {
  width: 10vw;
  display: block;
  margin: 6vh auto 0 auto;
}