.searchForm {
  position: absolute;
  top: 2%;
  left: 4%;
  display: flex;
  width: 80vw;
  height: 5vh;
  z-index: 400;
}

.searchBar {
  width: 80%;
  border: none;
  border-radius: 25px;
  padding-left: 10px;
}

.searchBar:focus {
  border: 1px solid blue;
}

.searchBtn {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  border: none;
  background-color: white;
  margin-left: 10px;
}

.searchBtn:hover {
  border: 3px solid blue;
}

.searchBtn img {
  width: 70%;
}