.shopProfileWrap {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 999;
  transition: transform .2s ease-in-out;
  background-image: url("../assets/profile_background.png");
 background-position: center;
 background-size: cover;
}

.productsTitle {
  color: var(--purple);
  font-weight: 400;
  font-size: 2vh;
  text-align: center;
  padding-top: 2vh;
  margin-bottom: 1vh;
}

.productsWrap {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
}

.product {
  background-color: rgb(235, 230, 255);
  padding: 7px 5px 7px 7px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin: 1vh 1vh 1vh 0;
}

.product p {
  margin-right: 10px;
  margin-left: 5px;
}

.product button {
  background: transparent;
  background-color: none;
  border: none;
  width: 10px;
  margin-right: 9px;
  cursor: pointer;
}

.product button img {
  width: 100%;
}

.newProductsFormLabel {
  color: var(--purple);
  display: block;
  margin: 2vh 0 2vh 0;
  font-weight: 700;
  font-size: 3vw;
  text-align: center;
}

.newProductsForm {
  display: flex;
  justify-content: center;
  margin-bottom: 4vh;
}

.newProductsFormInput {
  margin-right: 1vh;
  padding: 10px;
  width: 60vw;
  height: 5vh;
  border-radius: 10px;
  border: solid 4px var(--purple);
  color: #8f8f8f;
}

.submitNewProductsBtn {
  width: 15vw;
  border-radius: 10px;
  background-color: var(--purple);
  border: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.newProductsFormInput:focus {
  outline: none;
  box-shadow: 0 0 5px var(--purple);
}

.newPictureInput {
  display: none;
}

.newPictureLabel {
  color: var(--purple);
  text-align: center;
  width: 60vw;
  margin-right: 1vh;
  font-weight: 600;
  font-size: 4vw;
  border: solid 4px var(--purple);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.newImgWrap {
  width: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 4vh;
}

.newImgWrap img {
  border-radius: 10px;
  box-shadow: 0 0 10px #bbb;
  width: 100%;
}