.shopProfileWrap {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 999;
  transition: transform .2s ease-in-out;
  background-image: url("../assets/profile_background.png");
 background-position: center;
 background-size: cover;
}